


         <div  >

             <div class="col-sm-4">
                 <div style="width:100%;position:relative; border: 1px solid deepskyblue;">
                     <input type="text" class="form-control" ng-model="key" style="width:100%!important;display:inline-block"/>
                     <button class="btn btn-info custom" ng-click="search()">Search</button>
                 </div>
             </div>
             <div class="col-sm-6">
             <!--<div ng-if="data">-->
                 <div  ng-repeat="user in data"  ng-class="getImage($index)" class="listing " ng-click="openUser(user)">
                    <img id="{{$index}}"  style="height:80px;width:72px" ng-src="{{user.avatar_url}}"  />
                     <strong >{{user.login}}</strong>
                 </div>

             <!--</div>-->
                 </div>
             <div class="col-sm-2 " style="padding: 0;margin: 0;height: 400px">
                 <div class="btn-group-vertical" style="padding: 0;margin: 0">
                     <a  href="https://plus.google.com/106938225417406677407" style="background-color: red">
                         <i class="fa fa-google-plus" style="font-size:24px;width:40px;color:white"></i>
                     </a>
                     <a href="https://www.instagram.com/cloohawk" style="background-color:skyblue">
                         <i class="fa fa-instagram" style="font-size:24px;color:white"></i>
                     </a>
                     <a  href="/" style="background-color:green">
                         <i class="fa fa-whatsapp" style="font-size:24px;color:white"></i>
                     </a>
                 </div>
             </div>
         </div>
