<div>
    <div class="col-sm-6">
        <img ng-src="{{user.avatar_url}}">
    </div>
    <div class="col-sm-6 big" style="color:white">
        <div ng-hide="details">
        <p><strong>Name:</strong><em><a href="{{getUser()}}">{{getData("name")}}</a></em></p>
        <p><strong>Email:</strong>{{getData("email")}}</p>
        <p><strong>blog:</strong>{{getData("blog")}}</p>
        <p><strong>Location:</strong>{{getData("location")}}</p>
        <p><strong>Repos:</strong><a href="{{getRepo()}}">{{getData("public_repos")}}</a></p>
        <p><strong>Followers:</strong><a href="{{getFollowers()}}">{{getData("followers")}}</a></p>
        <p><strong>Following:</strong>{{getData("following")}}</p>
        </div>
        <div ng-show="details">
            <div  ng-repeat="user in data"   class="listing " ng-click="openUser(user)">
                <img id="{{$index}}"  style="height:80px;width:72px" ng-src="{{user.avatar_url}}"  />
                <strong >{{user.login}}</strong>
            </div>
        </div>

    </div>
</div>
